<!DOCTYPE html>
<html>
  <head>
    <!-- Favicon -->
    <%= favicon_link_tag 'favicon-32x32.png' %>

    <!-- Description for search engines -->
    <meta name="description" content="TrueCow is a tool helping you to really know how much your car cost you.">
    <!--Twitter metadata -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@True_Cow">
    <meta name="twitter:title" content="TrueCow - The True Cost of owning wheels">
    <meta name="twitter:description" content="TrueCow is a tool helping you to really know how much your car cost you.">
    <meta name="twitter:creator" content="@True_Cow">
    <meta name="twitter:image:src" content="http://res.cloudinary.com/dqsfxxmi7/image/upload/c_scale,h_838,q_55/v1527390324/adventure-automobile-car-845406_b63amy.jpg">

    <!-- Facebook metadata -->
    <meta property="og:title" content="TrueCow - The True Cost of owning wheels">
    <meta property="og:image" content="http://res.cloudinary.com/dqsfxxmi7/image/upload/c_scale,h_838,q_55/v1527390324/adventure-automobile-car-845406_b63amy.jpg">
    <meta property="og:description" content="TrueCow is a tool helping you to really know how much your car cost you.">
    <meta property="og:site_name" content="TrueCow"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <title>TrueCOW</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <!-- Google Analytic -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47410803-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-47410803-2');
    </script>

  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
